*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background: #000;
    font-family: "Raleway"
}
ul li{
    list-style: none;
}
.container{
    max-width: 1200px;
}
span.divide-line{
    width: 1px;
    height: 20px;
    background: #ccc;
    margin: 10px 10px 15px;
}
.card{
    border-radius: 0;
}
.modal-dialog{
    max-width: 700px;
    border-radius: 0;
}
.modal-content{
    border-radius: 0;
}
